<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{header_component.html}"></div>
<script>
    function deleteCloth(id) {
        fetch('/cloth/deleteFromBasket/' + id, {
            credentials: "same-origin",
            method: "post"
        })
            .then((response)=> {
                return response.text();
            })
            .then((data) => {
                document.body.innerHTML = data;
            });

    }
</script>
<h1>Your shopping basket:</h1>
    <form action="#" method="post" >
        <div th:each="data : ${basketData}" style="display: flex">
            <input name="ids" type="checkbox" th:value="${data.cloth.id}">
            <div>
                <img th:src="${'/cloth/image/' + data.cloth.getName()+data.cloth.getBrand_name()}" width="50" height="50">
            </div>
            <div style="padding: 10px">
                <p th:text="${data.cloth.name + ' ' + data.cloth.brand_name}" name="name" th:href="${'/cloth/' + data.cloth.id}"></p>
            </div>
            <div style="padding: 10px">
                <p id="price" th:text="${data.cloth.price}+ ' &#8381'"></p>
            </div>
            <div style="padding: 10px">
                <p id="color" th:text="${data.color}"></p>
            </div>
            <div style="padding: 10px">
                <p id="size" th:text="${data.size}"></p>
            </div>

            <button type="button" th:onclick="'javascript:deleteCloth(' + ${data.id} + ')'"> X</button>

        </div>



        <input type="submit" value="Pay">
    </form>

<div style="padding: 10px">
    <!--/*@thymesVar id="b" type="ru.sinforge.clothingstore.Entities.BasketCloth"*/-->
    <p id="resultPrice" th:text="${'Total price: ' + T(ru.sinforge.clothingstore.Helper).sum(basketData) + '&#8381'}"></p>

</div>



</body>
</html>