<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{header_component.html}"></div>


<form action="#" method="post"  enctype="multipart/form-data" style="display: flex; flex-direction: column">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" required>

        <label for="description">Description</label>
        <input  id="description" type="text" name="description" required>

        <label for="brand_name">Brand_name</label>
        <input  id="brand_name" type="text" name="brand_name" required>

        <label for="section">Section</label>
        <input  id="section" type="text" name="section" required>

        <label for="gender">Gender</label>
        <input id="gender" type="text" name="gender" required>
        <div>
                <label>Colors: </label>
                <label>Red<input  type="checkbox" name="colors" value="red" /> </label>
                <label>  Blue     <input type="checkbox" name="colors" value="blue" />
                </label>
                <label>Orange<input type="checkbox" name="colors" value="orange" /></label>
                <label>Purple<input type="checkbox" name="colors" value="purple" /></label>
                <label>Yellow<input type="checkbox" name="colors" value="yellow" /></label>
                <label>Green<input type="checkbox" name="colors" value="green" /></label>
                <label>Black<input type="checkbox" name="colors" value="black" /></label>
                <label>White<input type="checkbox" name="colors" value="white" /></label>
        </div>

        <div>
                <label>Sizes:</label>

                <label>XS<input   type="checkbox" name="sizes" value="XS" ></label>
                <label>S<input   type="checkbox" name="sizes" value="S" ></label>
                <label>M<input   type="checkbox" name="sizes" value="M" ></label>
                <label>L<input   type="checkbox" name="sizes" value="L" ></label>
                <label>XL<input   type="checkbox" name="sizes" value="XL" ></label>
                <label>XXL<input   type="checkbox" name="sizes" value="XXL" ></label>

        </div>


        <label for="price">Price</label>
        <input  id="price" type="text" name="price" required>

        <label for="img">Img</label>
        <input  id="img" type="file" name="img" required>

        <input type="submit" value="Create">

</form>

<script>
        FormData
        var object = {};
        formData.forEach(function(value, key){
                object[key] = value;
        });
        var json = JSON.stringify(object);

</script>

</body>
</html>