<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="list-of-cloth">
    <div th:each="cloth : ${allCloth}">
        <a th:href="${'/cloth/' + cloth.id}">
            <img width="150" height="150" th:src="${'/cloth/image/' + cloth.name + cloth.brand_name}">
            <p th:text="${cloth.name}"></p>
            <p th:text="${cloth.description}"></p>
            <p th:text="${cloth.price}"></p>
        </a>

    </div>

</div>

</body>
</html>